[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "customiser"]
	path = customiser
	url = https://github.com/jameslairdsmith/customiser
